<div class = "card" *ngIf="card" (click)="edit()">
    <div *ngIf="!editing" >
        <table>
            <tr>
                <td class="attribute_headers">
                    Name:
                </td>
                <td>
                    {{card.name}}
                </td>
            </tr>
            <tr>
                <td class="attribute_headers">
                    Price:
                </td>
                <td>
                    {{card.price.toFixed(2)}}
                </td>
            </tr>
            <tr>
                <td class="attribute_headers">
                    In Stock:
                </td>
                <td>
                    {{card.quantity}}
                </td>
            </tr>
        </table>
        <div *ngIf="notAdmin()">
            <app-add-to-cart [product]="card" ></app-add-to-cart>
        </div>
    </div>
    <div *ngIf="editing">
        <app-edit-product (changedProductEvent)="itemChange($event)" [card]="card"></app-edit-product>
        <!-- event triggered in delete triggers event here which is sent all the way up to product list -->
        <app-remove-product (deletedItemEvent)="deleteItem($event)" [product]="card"></app-remove-product>
    </div>

</div>



