<div class="card" *ngIf="card" (click)="changeFace()">
    <div *ngIf="!editing" >
        <app-product [card]="card"></app-product>
    </div>
    <div *ngIf="editing">
        <app-edit-product (changedProductEvent)="itemChange($event)" [card]="card"></app-edit-product>
        <!-- event triggered in delete triggers event here which is sent all the way up to product list -->
        <app-remove-product (deletedItemEvent)="deleteItem($event)" [product]="card"></app-remove-product>
    </div>
</div>