<div class = "card" *ngIf="card" (click)="edit()">
    <div *ngIf="!editing" >
        <p>Name: {{card.name}}</p>
        <p>Types: {{card.types}}</p>
        <p>Price: {{card.price}}</p>
        <p>We have {{card.quantity}} in stock!</p>
        <div *ngIf="notAdmin()">
            <app-add-to-cart [product]="card" ></app-add-to-cart>
        </div>
    </div>
    <div *ngIf="editing">
        <app-edit-product (changedProductEvent)="itemChange($event)" [card]="card"></app-edit-product>
        <!-- event triggered in delete triggers event here which is sent all the way up to product list -->
        <app-remove-product (deletedItemEvent)="deleteItem($event)" [product]="card"></app-remove-product>
    </div>

</div>



