<table>
    <tr>
        <td><label for="new-product">Product name: </label></td>
        <td><input id="new-product" #productName /></td>
    </tr>
    <tr>
        <td><label for="new-product">Product Types: </label></td>
        <td>
            <input type="checkbox" (click)="handleClick('DARK')" id="dark">
            <label for="dark">Dark</label>
            <input type="checkbox" (click)="handleClick('DRAGON')" id="dragon">
            <label for="dragon">Dragon</label>
            <input type="checkbox" (click)="handleClick('ELECTRIC')" id="electric">
            <label for="electric">Electric</label>
            <input type="checkbox" (click)="handleClick('FAIRY')" id="fairy">
            <label for="fairy">Fairy</label>
            <input type="checkbox" (click)="handleClick('FIGHTING')" id="fighting">
            <label for="fighting">Fighting</label>
            <input type="checkbox" (click)="handleClick('FIRE')" id="fire">
            <label for="fire">Fire</label>
            <input type="checkbox" (click)="handleClick('GRASS')" id="grass">
            <label for="grass">Grass</label>
            <input type="checkbox" (click)="handleClick('NORMAL')" id="normal">
            <label for="normal">Normal</label>
            <input type="checkbox" (click)="handleClick('PSYCHIC')" id="psychic">
            <label for="psychic">Psychic</label>
            <input type="checkbox" (click)="handleClick('STEEL')" id="steel">
            <label for="steel">Steel</label>
            <input type="checkbox" (click)="handleClick('WATER')" id="water">
            <label for="water">Water</label>
            <input type="checkbox" (click)="handleClick('TRAINER')" id="trainer">
            <label for="trainer">Trainer</label>
        </td>
    </tr>
    <tr>
        <td><label for="new-product">Product quantity: </label></td>
        <td><input id="new-product" #productQuantity min="0"/></td>
    </tr>
    <tr>
        <td><label for="new-product">Product price: </label></td>
        <td><input id="new-product" #productPrice /></td>
    </tr>
    <tr>
        <td><button type="button" class="add-button"
            (click)="add(productName.value, typeListAdd, productQuantity.value, productPrice.value); 
            productName.value='';
            productPrice.value=null;
            productQuantity.value=null">
            Add product
        </button></td>
    </tr>
</table>