<app-dashboard></app-dashboard>
<h1>User Page:</h1>
<p>Hello {{user.UserName | titlecase}}!</p>

<div>
    <p>Order History</p>
    <div *ngFor="let order of orderHistory" style="border: 1px solid black;">
        <p>{{order.orderNumber}}</p>
        <p>{{order.timeStamp}}</p>
        <p>{{order.cart.totalPrice}}</p>
        <div *ngFor="let product of order.cart.contents" style="display: inline-block;">
            <app-product-card [card]="product"></app-product-card>
        </div>
    </div>
</div>