<h1>User Page:</h1>
<nav>
    <button [class.selected]="CART" (click)="cart()">Edit Inventory</button>
    <button [class.selected]="ACCOUNT" (click)="account()">Account Info</button>
    <button [class.selected]="HISTORY" (click)="history()">Order History</button>
</nav>
<div *ngIf="CART">
    <app-shopping-cart></app-shopping-cart>
</div>
<div *ngIf="ACCOUNT">
    <app-display-user-info></app-display-user-info>
    <app-change-password-form></app-change-password-form>
    <app-delete-account></app-delete-account>
</div>
<div *ngIf="HISTORY">
    <app-order-history></app-order-history>
</div>

