.back {
    background: linear-gradient(180deg, rgba(58, 58, 58, 0.8) 50%, rgba(0, 0, 0, 0) 68%, rgba(54, 54, 54, 0.66) 92%), url("../../../assets/bg.png");
    background-size: contain;
    display: inline-block;
    margin: 0.5em;
    width: 11.9em;
    height: 16.5em;
    vertical-align: top;
    color: white;
    font-family: 'M PLUS 1';
    font-weight: 700;
    letter-spacing: -0.015em;
}

.front {
    display:inline-block;
    margin: 0.5em;
    width: 11.9em;
    height: 16.5em;
    vertical-align: top;
}

.card {
    display: inline-block;
    margin: 0.5em;
    width: 12em;
    height: 16em;
    vertical-align: top;
}

.deleteProduct {
    min-width: inherit;
    min-height: inherit;
    align-items: center;
}

.contents {
    padding-left: 0.5em;
}