.card {
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    padding: 0.5em;
    margin: 0.5em;
    width: 12em;
    height: 16em;
    vertical-align: top;
}
.attribute_headers {
    padding: 5%;
    width: 100px;
    text-align: right;
}