nav{
    background-color: #273032;
    color: #FFF;
    padding: 0px;
    display: flex;
  }
  
  ul {
    margin: 0px;
    margin-left: 0px;
  }
  
  li {
    list-style: none;
    margin-left: 0px;
  }