<div class="card" *ngIf="product">
    <table>
        <tr>
            <td class="attribute_headers">
                Name:
            </td>
            <td>
                {{product.name}}
            </td>
        </tr>
        <tr>
            <td class="attribute_headers">
                Price:
            </td>
            <td class="td">
                {{product.price.toFixed(2)}}
            </td>
            <td>
            <p>Quanity: </p>
            </td>
            <td>
                {{product.quantity}}
                <button (click)="addToCart()">+</button>
            </td>
        </tr>
    </table>
</div>
