<table>
    <tr>
        <td><label for="new-product">Product name: </label></td>
        <td><input id="new-product" #productName /></td>
    </tr>
    <tr>
        <td><label for="new-product">Product quantity: </label></td>
        <td><input id="new-product" #productQuantity min="0"/></td>
    </tr>
    <tr>
        <td><label for="new-product">Product price: </label></td>
        <td><input id="new-product" #productPrice /></td>
    </tr>
    <tr>
        <td><button type="button" class="add-button"
            (click)="add(productName.value, productQuantity.value, productPrice.value); 
            productName.value=''; 
            productPrice.value=null; 
            productQuantity.value=null">
            Add product
        </button></td>
    </tr>
</table>
