<table>
    <tr>
        <td><label for="new-product">Product name: </label></td>
        <td><input id="new-product" #productName /></td>
    </tr>
    <tr>
        <td><label for="new-product">Product Types: </label></td>
        <td>
            <input type="checkbox" id="dark">
            <label for="dark">Dark</label>
            <input type="checkbox" id="dragon">
            <label for="dragon">Dragon</label>
            <input type="checkbox" id="electric">
            <label for="electric">Electric</label>
            <input type="checkbox" id="fairy">
            <label for="fairy">Fairy</label>
            <input type="checkbox" id="fighting">
            <label for="fighting">Fighting</label>
            <input type="checkbox" id="fire">
            <label for="fire">Fire</label>
            <input type="checkbox" id="grass">
            <label for="grass">Grass</label>
            <input type="checkbox" id="normal">
            <label for="normal">Normal</label>
            <input type="checkbox" id="psychic">
            <label for="psychic">Psychic</label>
            <input type="checkbox" id="steel">
            <label for="steel">Steel</label>
            <input type="checkbox" id="water">
            <label for="water">Water</label>
            <input type="checkbox" id="trainer">
            <label for="trainer">Trainer</label>
        </td>
    </tr>
    <tr>
        <td><label for="new-product">Product quantity: </label></td>
        <td><input id="new-product" #productQuantity min="0"/></td>
    </tr>
    <tr>
        <td><label for="new-product">Product price: </label></td>
        <td><input id="new-product" #productPrice /></td>
    </tr>
    <tr>
        <td><button type="button" class="add-button"
            (click)="add(productName.value, typeList, productQuantity.value, productPrice.value); 
            productName.value=''; 
            productPrice.value=null; 
            productQuantity.value=null">
            Add product
        </button></td>
    </tr>
</table>
