div {
    margin-top: 1em;
    margin-bottom: 1em;
}

.card{
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    padding: 0.5em;
    margin: 0.5em;
}

.login{
    margin-left: auto;
    margin-right: auto;
}