`<div *ngIf="!username">
    <nav><a routerLink=""><button>Home</button></a></nav>
</div>
<div *ngIf="!username" class="login">
    <div class="card">
        <h2>Login:</h2>
        <form (ngSubmit)="login(loginName.value, loginpass.value)">
            <label for="user">Username: </label>
            <input id="user" type="text" placeholder="Username" #loginName><br/>
            <label for="pass">Password: </label>
            <input type="password" id="pass" #loginpass>
            <input type="submit">
        </form>
        <div *ngIf="loginFailed">
            <p style="color: red;">Login Failed.
                If you don't have an account try registering instead.</p>
        </div>
    </div>

    <div class="card">
        <h2>Register:</h2>
        <form>
            <p>Password must contain at least one number and one uppercase and lowercase letter, and at least 8 characters</p>
            <div class="input">
                <label for="ruser">Username: </label>
                <input id="ruser" type="text" placeholder="Username" #regName><br/>
            </div>
            
            <div class="input">
                <label for="rpass">Password: </label>
                <input type="password" id="rpass" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" #regPass><br/>
            </div>
            <div class="input">
                <label for="confirm">Retype Password: </label>
                <input type="password" id="confirm" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" #confirm><br/>
            </div>
            <div class="input">
                <input type="submit" (click)="register(regName.value, regPass.value, confirm.value)">
            </div>
            <div *ngIf="registerFailed">
                <p style="color: red;">
                Username is Taken. Please Try again!</p>
            </div>
        </form>
    </div>
</div>
<div *ngIf="username" class="loggedIn">
    <h2>Already logged in as {{username | titlecase}}</h2>
    <button (click)="goBack()">continue as user</button>
    <button (click)="logout()">log out</button>
</div>