<div *ngIf="!username">
    <nav><a routerLink=""><button>Home</button></a></nav>
</div>
<div *ngIf="!username" class="login">
    <div class="card">
        <h2>Login:</h2>
        <form (ngSubmit)="login(loginName.value)">
            <input type="text" placeholder="Username" #loginName>
            <input type="submit">
        </form>
        <div *ngIf="loginFailed">
            <p style="color: red;">Login Failed.
                If you don't have an account try registering instead.</p>
        </div>
    </div>

    <div class="card">
        <h2>Register:</h2>
        <form (ngSubmit)="register(registerName.value)">
            <input type="text" placeholder="Username" #registerName>
            <input type="submit">
            <div *ngIf="registerFailed">
                <p style="color: red;">
                Username is Taken. Please Try again!</p>
            </div>
        </form>
    </div>
</div>
<div *ngIf="username" class="loggedIn">
    <h2>Already logged in as {{username | titlecase}}</h2>
    <button (click)="goBack()">continue as user</button>
    <button (click)="logout()">log out</button>
</div>