<div *ngIf="productsList!.length != 0">
    <div *ngFor="let product of productsList" style="display: inline-block;">
        <div *ngIf="selTypes.length == 0">
            <app-product-card (deletedItemEvent)="deleteItem($event)" [card]="product"></app-product-card>
        </div>
        <div *ngFor="let stype of selTypes">
            <div *ngFor="let ptype of product.types">
                <div *ngIf="ptype == stype">
                    <div *ngIf="!this.displayed">
                        <app-product-card (deletedItemEvent)="deleteItem($event)" [card]="product"></app-product-card>
                    </div>
                    <div *ngIf="true then wasDisplayed(true);"></div>
                </div>
            </div>
        </div>
        <div *ngIf="true then wasDisplayed(false)"></div>
    </div>
</div>
<div *ngIf="productsList!.length == 0">
    <p style="font-size: large;">No products match your criteria :(</p>
</div>
