<!-- Header Navbar -->
<nav class="navbar navbar-expand-lg bg-primary fixed-top" style="height:60px;">
    <div class="container-fluid">
        <!-- Pokeball Logo & E-Store Title -->
        <a class="navbar-brand text-white" routerLink="">
            <img src="assets/pokeball.svg" alt="Logo" width="30px" class="d-inline-block align-text-top"/>
            PokéStore
        </a>
        <!-- Login button  -->
        <div *ngIf="!(isLoggedInUser() || isAdmin())">
            <button type="button" class="btn btn-outline-light" routerLink="/login">Login</button>
        </div>
        <!-- Shopping Cart & Profile -->
        <div class="d-md-flex gap-2" *ngIf="isLoggedInUser()">
            <button class="btn btn-primary btn-md" type="button" routerLink="/cart" style="width:45px;"><i class="icon fa-solid fa-cart-shopping"></i></button>
            <button class="btn btn-primary btn-md" type="button" routerLink="/user" style="width:45px;"><i class="fa-solid fa-user"></i></button>
        </div>
        <!-- Admin Dashboard -->
        <div *ngIf="isAdmin()">
            <button type="button" class="btn btn-outline-light" routerLink="/admin">Admin Dashboard</button>
        </div>
    </div>
</nav>