<app-dashboard></app-dashboard>
<div *ngIf="product" >
        <table>
            <tr>
                <td class="attribute_headers">
                    Name:
                </td>
                <td>
                    {{product.name}}
                </td>
            </tr>
            <tr>
                <td class="attribute_headers">
                    Price:
                </td>
                <td>
                    {{product.price.toFixed(2)}}
                </td>
            </tr>
            <tr>
                <td class="attribute_headers">
                    In Stock:
                </td>
                <td>
                    {{product.quantity}}
                </td>
            </tr>
        </table>
</div>
<button type="button" (click)="goBack()">go back</button>